<div class=" py-4" id="weather-block">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-8 col-lg-6 col-xl-4">
            <div class="card card-border">
                <div class="card-body p-2">
                    <div class="d-flex flex-column">
                        <!--Ville-->
                        <h2 class="flex-grow-1" id="city"></h2><br>
                        <!--Heure-->
                        <h6 id="hour"></h6>
                    </div>
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-weather/ilu3.webp" width="100px" alt="weather image">
                    <div class="d-flex flex-column text-center mt-3 mb-3">
                        <!--Température-->
                        <h6 class="display-4 mb-0 font-weight-bold"  id="degrees"></h6>
                        <h6 class="display-4 mb-0 font-weight-bold" id="hourDegrees"></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
